## live-debconfig (4.0~a19-1)

live-debconfig live-debconfig/scripts multiselect 

# passwd
live-debconfig live-debconfig/passwd/shadow boolean 
live-debconfig live-debconfig/passwd/root-password password 
live-debconfig live-debconfig/passwd/root-password-again password 
live-debconfig live-debconfig/passwd/root-password-crypted string 
live-debconfig live-debconfig/passwd/user-name string 
live-debconfig live-debconfig/passwd/user-fullname string 
live-debconfig live-debconfig/passwd/user-password password 
live-debconfig live-debconfig/passwd/user-password-again password 
live-debconfig live-debconfig/passwd/user-password-crypted string 
live-debconfig live-debconfig/passwd/user-home string 
live-debconfig live-debconfig/passwd/user-uid string 
live-debconfig live-debconfig/passwd/user-gid string 
live-debconfig live-debconfig/passwd/user-default-groups string 
live-debconfig live-debconfig/passwd/user-login-shell string 
live-debconfig live-debconfig/passwd/user-system-user boolean 
#live-debconfig live-debconfig/passwd/user[N]-...

# hostname
live-debconfig live-debconfig/hostname/hostname string 

# ifupdown
live-debconfig live-debconfig/ifupdown/lo-enable boolean 
live-debconfig live-debconfig/ifupdown/lo-comment string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-method string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-comment string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-address string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-broadcast string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-gateway string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-mtu string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-netmask string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-network string 
live-debconfig live-debconfig/ifupdown/eth0-ipv4-post-up string 
#live-debconfig live-debconfig/passwd/eth[N]-...
live-debconfig live-debconfig/ifupdown/nameserver-addresses string 
live-debconfig live-debconfig/ifupdown/nameserver-domain string 
live-debconfig live-debconfig/ifupdown/nameserver-search string 
live-debconfig live-debconfig/ifupdown/nameserver-options string 

# systemd
live-debconfig live-debconfig/systemd/lxc-enable boolean 
live-debconfig live-debconfig/systemd/lxc-consoles string 

# sysvinit
live-debconfig live-debconfig/sysvinit/lxc-enable boolean 
live-debconfig live-debconfig/sysvinit/lxc-consoles string 
live-debconfig live-debconfig/sysvinit/lxc-disable-services string 

# util-linux
live-debconfig live-debconfig/util-linux/hwclockaccess boolean 

# selinux
live-debconfig live-debconfig/selinux/enable boolean 

# ferm
live-debconfig live-debconfig/ferm/ipv4-ports string 

# openssh-server
# n/a
